.SprintDetailsMainBox{
    width: 100%;
    /* border: 1px solid red; */
}

.SprintDetailsMainBox>h2{
    padding: 5px 5px;
    width: 98%;
    margin: 8px auto;
    background-color: rgb(215, 215, 215);
}

.CreateNewTaskBox{
    border: 1px solid rgb(168, 168, 168);
    width: 97%;
    margin: auto;
    box-sizing: border-box;
    padding: 0px 5px;
    border-radius: 10px;
    background-color: rgb(219, 219, 219);
    /* color: white; */
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.CreateNewTaskBox>form>div{
    width: 100%;
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.CreateNewTaskBox>form>div>button{
    width: 20%;
    height: 26px;
    border: none;
    border-radius: 5px;
    color: white;
    background-color: rgb(50, 25, 82);
    cursor: pointer;
}

.CreateNewTaskBox>h4{
    margin: 5px 0px;
    padding: 0px 5px;
    background-color: rgb(62, 61, 61);
    color: white;
    border-radius: 5px;
    width: 98%;
    height: 26px;
}

.CreateNewTaskBox>form>div select{
    width: 50%;
}

.CreateNewTaskBox>form>div>label{
    width: 50%;
}
.CreateNewTaskBox>form>div>textarea{
    width: 100%;
}