.EditTaskModalMainBox {
  width: 60%;
  border: 1px solid rgb(170, 169, 169);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
  position: absolute;
  background-color: white;
  top: 50px;
  left: 25%;
  z-index: 5;
  margin-top: 10px;
  border-radius: 15px;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px,
    rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
  /* justify-content: space-around; */
}

.ModalCancelHeader {
  border-bottom: 1px solid rgb(204, 204, 204);
  width: 100%;
  margin-bottom: 10px;
  display: flex;
  justify-content: flex-end;
}

.ModalCancelHeader > button {
  border: none;
  background-color: white;
  height: 40px;
  font-size: 20px;
  font-weight: 700;
  cursor: pointer;
  border-radius: inherit;
  border-radius: 15px;

}

.EditTaskModalBox {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin-bottom: 10px;
  justify-content: space-around;
}

.EditTaskModalBox>h3{
  margin: 5px auto;
}

.EditTaskModalBox>form {
  display: block;
  margin: auto;
  box-sizing: border-box;
  width: 80%;
}

.EditTaskModalBox > form > input,.EditTaskModalBox > form > textarea, .EditTaskModalBox > form >select {
  width: 100%;
  height: 25px;
  display: block;
  border-radius: 5px;
  margin: 10px 0px;
  border: 1px solid gray;
}

.EditTaskModalBox > form >textarea{
  height: 40px;
}

.EditTaskModalBox > form > button {
  width: 40%;
  height: 32px;
  margin: 10px 0px;
  background-color: rgb(65, 113, 234);
  border: none;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.HideEditModal {
  display: none;
}
