.SidebarMainBox{
    width: 20%;
    /* border: 1px solid red; */
    height: 550px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(227, 241, 253);
}

.SidebarMainBox>h2{
    margin: 0;
    color: rgb(40, 53, 72);
    width: 100%;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid rgb(180, 176, 176);
}


.SprintCreateButton{
    margin: 15px 0px;
    font-size: 15px;
    display: flex;
    align-items: center;
    font-weight: 600;
    background-color: rgb(65, 65, 67);
    color: white;
    border-radius: 5px;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

.SprintList{
    width: 80%;
    overflow-y: auto;
    overflow-x: hidden;
    /* border: 1px solid red; */
}

.SprintTitle{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    padding: 5px 1px;
    border-radius: 5px;
}

.SprintTitle>h4{
    margin: 0;
    width: 60%;
    /* border: 1px solid red; */
    overflow: hidden;
    cursor: pointer;
}

.SprintTitle>h4:hover{
    color: rgb(59, 74, 164);
}

.DeleteIcon{
    font-size: 20px;
    cursor: pointer;

}

.DeleteIcon:hover{
    color: red;
}

.SprintSelectionTable{
    width: 100%;
    background-color: rgb(65, 65, 67);
    color: white;
    font-size: 16px;
    height: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    margin-bottom: 10px;
}