.UserSpecificTaskMainBox{
    width: 97%;
    margin: auto;
    box-sizing: border-box;
    margin-top: 5px;
    display: flex;
    align-items: baseline;
    justify-content: space-around;
    border: 1px solid rgb(168, 168, 168);
    padding: 10px 0px;
    border-radius: 10px;
}

.UserSpecificTaskMainBox>div{
    width: 47%;
}
.UserListTable{
    width: 100%;

}

.UserListTable>tbody>tr>td, .UserTaskTable>tbody>tr>td{
    border: 1px solid gray;
}

.UserTaskTable{
    width: 100%;
    position: relative;
    top: 0;
}

.UserListTable button{
    cursor: pointer;
}